{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block content %}

<section class="container py-5">

  <div class="row justify-content-center text-center">

    <div class="col-lg-6">

      <div class="py-5">

        <h1 class="hero-title">
          500
        </h1>

        <p class="section-sub mb-4">
          Something went wrong on our side.
          Please try again later.
        </p>

        <img
          src="https://th.bing.com/th/id/OIP.VDjW7XRouALF54BsxtIktgHaFw?w=242&h=188&c=7&r=0&o=7&pid=1.7&rm=3"
          class="img-fluid mb-4"
          alt="500 error">

        <div>
          <a href="{{ url_for('main.index') }}"
            class="btn-accent">

            Back to EventSphere

          </a>
        </div>

      </div>

    </div>

  </div>

</section>

{% endblock %}
